<main>	
			<div class="main-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-5">
							<div class="main-left-sidebar">
								<div class="user-data full-width">
									<div class="user-profile">
										<div class="username-dt dpbg-1">
											<div class="usr-pic">
												<img src="{{ MEDIA_URL }}{{ userprofile.avatar }}" alt="">
											</div>
										</div>
										<div class="user-main-details">
											<h4>{{user.userprofile.first_name}} {{user.userprofile.last_name}}</h4>
											<span><i class="fas fa-map-marker-alt"></i>Cricketer</span>
										</div>
										<ul class="followers">
											<li>
												<div class="followers-dt-sm">
													<h4>Followers</h4>
													<span>155</span>
												</div>
											</li>
											
										</ul>
										<div class="profile-link">
											<a href="#">View Profile</a>
										</div>
									</div>							
								</div>	
															
							</div>
						</div>
						<div class="col-lg-6 col-md-7 ">						
							<div class="center-section">						
								<div class="main-search-bar">						
									<a href="#add_form" class="add-event">Add New Challenge</a>
								</div>
								<div class="main-tabs">
									{% for post in userprofile.userwall.post_set.all %}
									<div class="tab-content">
										<div class="tab-pane active" id="tab-upcoming">
											<div class="main-posts">
												<div class="event-main-post">
													<div class="event-top">
														<div class="event-top-left">
															<a href="event_detail_view.html"><h4>{{ post.title }}</h4></a>
														</div>
														
													</div>
													<div class="event-main-image">
														<div class="main-photo">
															<div class="photo-overlay"></div>
															<img src="{{ post.attachment }}" alt="">
															
														</div>														
													</div>
													<div class="event-city-dt">
														<h5 style="margin-left:10px">Title</h1>
														<p style="margin-left:10px">{{ post.title }}</p>
													</div>
													<div class="event-city-dt">
														<h5 style="margin-left:10px">Description</h1>
														<p style="margin-left:10px">{{ post.text }}</p>
													</div>
													<div class="event-city-dt">
														<h5 style="margin-left:10px">Rules</h1>
														<p style="margin-left:10px">{{ post.rules }}</p>
													</div>
													<div class="event-city-dt">
														<h5 style="margin-left:10px">Awards</h1>
														<p style="margin-left:10px">{{ post.awards }}</p>
													</div>
													
													<div class="like-comments">
														<div class="left-comments">
															<a href="#" class="like-item" title="Like">
																<i class="fas fa-heart"></i>
																<span><ins>Accepted</ins> 251</span>
															</a>
														</div>
														
													</div>
												</div>
												
												<!--<div class="event-main-post">
													<div class="event-top">
														<div class="event-top-left">
															<a href="event_detail_view.html"><h4>Event Title Here</h4></a>
														</div>
														<div class="event-top-right">
															<div class="ticket-price">Ticket Price : <span>$15</span></div>
															<div class="post-dt-dropdown dropdown">
																<span class="dropdown-toggle-no-caret" role="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
																<div class="dropdown-menu post-rt-dropdown dropdown-menu-right">
																	<a class="post-link-item" href="#">Hide</a>
																	<a class="post-link-item" href="#">Details</a>											
																	<a class="post-link-item" href="#">User Profile</a>
																	<a class="post-link-item" href="#">Report</a>																									
																</div>
															</div>
														</div>
													</div>
													<div class="event-main-image">
														<div class="main-photo">
															<div class="photo-overlay"></div>
															<img src="images/homepage/center/post-img-3.jpg" alt="">
															<div class="post-buttons">
																<div class="left-buttons">
																	<ul class="main-btns">
																		<li><button class="main-btn-link" onclick="window.location.href = '#';">Buy Ticket</button></li>
																		<li><button class="main-btn-link btn-hide" onclick="window.location.href = '#';">May Be</button></li>																		
																	</ul>
																</div>
																<div class="right-buttons">
																	<ul class="main-btns">
																		<li><button class="main-btn-link btn-hide" onclick="window.location.href = '#';">450 Seats</button></li>
																		<li><button class="main-btn-link btn-hide" onclick="window.location.href = '#';">Can't Go</button></li>
																	</ul>
																</div>
															</div>
														</div>														
													</div>
													<div class="event-city-dt">
														<ul class="city-dt-list">
															<li>
																<div class="it-items">
																	<i class="fas fa-map-marker-alt"></i>
																	<div class="list-text-dt">
																		<span>City</span>
																		<ins>London</ins>
																	</div>
																</div>
															</li>
															<li>
																<div class="it-items">
																	<i class="fas fa-calendar-alt"></i>
																	<div class="list-text-dt">
																		<span>Date</span>
																		<ins>21 Nov 2019</ins>
																	</div>
																</div>
															</li>
															<li>
																<div class="it-items">
																	<i class="fas fa-clock"></i>
																	<div class="list-text-dt">
																		<span>Time</span>
																		<ins>6 PM to 9 PM</ins>
																	</div>
																</div>
															</li>
															<li>
																<div class="it-items">
																	<i class="fas fa-cloud-sun"></i>
																	<div class="list-text-dt">
																		<span>Weather</span>
																		<ins>Clear</ins>
																	</div>
																</div>
															</li>
														</ul>
													</div>
													<div class="event-go-dt">
														<ul class="go-dt-list">
															<li>
																<div class="it-items">
																	<i class="fas fa-check" style="color:#a7a8aa;"></i>
																	<div class="list-text-dt">
																		<span>Going</span>
																		<ins>45</ins>
																	</div>
																</div>
															</li>
															<li>
																<div class="it-items">
																	<i class="fas fa-question-circle" style="color:#a7a8aa;"></i>
																	<div class="list-text-dt">
																		<span>MayBe</span>
																		<ins>120</ins>
																	</div>
																</div>
															</li>
															<li>
																<div class="it-items">
																	<i class="fas fa-times" style="color:#a7a8aa;"></i>
																	<div class="list-text-dt">
																		<span>Can't Go</span>
																		<ins>70</ins>
																	</div>
																</div>
															</li>															
														</ul>
													</div>
													<div class="like-comments">
														<div class="left-comments">
															<a href="#" class="like-item" title="Like">
																<i class="fas fa-heart"></i>
																<span><ins>Like</ins> 251</span>
															</a>
															<a href="#" class="like-item lc-left" title="Comment">
																<i class="fas fa-comment-alt"></i>
																<span><ins>Comment</ins> 10</span>
															</a>
														</div>
														<div class="right-comments">
															<a href="#" class="like-item" title="Share">
																<i class="fas fa-share-alt"></i>
																<span><ins>Share</ins> 21</span>
															</a>
														</div>
													</div>
												</div>-->
																								
											</div>
										</div>
										
									</div>
									{% endfor %}
								</div>
								
							</div>
						</div>
						<div class="col-lg-3">
							<div class="right-side-items">
								<div class="post-event">									
									<h6>Want to Post A New Challenge</h6>
									<p>Post your Challenges... your fans are waiting for it!!</p>
									<a href="#add_form" class="add-nw-event">Post It Now</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>