<main class="register-mp">	
			<div class="main-section">
				<div class="container">				
					<div class="row justify-content-md-center">
						<div class="col-md-10">
							<div class="login-register-bg">
								<div class="row no-gutters">
									<div class="col-lg-6">
										<div class="lg-left">
											<div class="lg-logo">
												<a href="index.html"><img src="images/login-register/logo.svg" alt=""></a>
											</div>
											<div class="lr-text">
												<h2>Register Now</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum blandit felis a hendrerit.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="lr-right">
											<h4>Sign Up to Goeveni</h4>
											<div class="login-register-form">
												<form role="form" method="post" action=".">
													
													<div class="form-group">									
														<input class="title-discussion-input" id="id_email" name="email" type="email" placeholder="Email Address">
													</div>
													<div class="form-group">									
														<input class="title-discussion-input" type="password" id="id_password1" name="password1" placeholder="Password">
													</div>													
													<div class="rgstr-dt-txt">
														By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <a href="#">Cookie Policy</a>. You may receive Email notifications from us and can opt out at any time.
													</div>
													<button class="login-btn" type="submit" id="submit_registration">Register Now</button>
													<div class="login-link">If you have an account? <a href="login.html">Login Now</a></div>
												{% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
												</form>											
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>										
										
				</div>
			</div>
		</main>
